.section__panel--noticias{
    width:600px;
    margin:20px auto;
}


.panel__noticias--list{
    border-bottom:none!important;
}

.panel__noticias--list li{
    width:100%;
    margin:0 5px;
    border-bottom:2px solid gray;
}

.panel__noticias--list li a{
    font-family: 'Roboto', sans-serif;
    color:#1c3643;
}

.panel__noticias--list li a:hover{
    border-bottom:2px solid #273C48;
    color:#1c3643;
    font-weight:bold;
}


/*TAB NOTICIAS PRINCIPAL*/
.noticias_principal .field{
    margin:35px auto;
    width:600px;
}

.noticias_principal .file-label{
    margin: 0 auto;
}

.noticias_principal .control{
    width:500px;
    margin: 0 auto;
}


/*TAB NOTICIAS SECUNDARIO*/
.noticias_secundario--type{
    border-bottom:1px solid #1c3643;
    padding:.6em;
}

.noticias_secundario--type .radio{
    margin-top:20px;
    color:#1c3643;
    font-family: 'Roboto', sans-serif;
}


.noticias_secundario--title{
    color:#1c3643;
    font-family: 'Roboto', sans-serif;
    font-size:17px;
    font-weight:bold;
}


.noticias__content1{
    padding:1em;
    border-radius:6px;
}


.noticias__primer--content{
    margin-top:15px;
    border:1px solid #ccc;
}

.noticias__content1--icon .fa-images{
    font-size:25px;
    color:#FFC900;
    margin:0;
}

.noticias__content1--subtitle{
    font-size:12px;
    margin-left:5px;
    opacity:.6;
}

.noticias__content1--title{
    color:#1c3643;
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    font-size:15px;
    opacity:.7;
    text-align: center;
    margin-left:7px;
    margin-bottom:-10px;
}

.noticias__content1--down .fa-sort-down{
    font-size:27px;
    color:#FFC900;
    margin-left:22%;
}

.noticias__content2--down .fa-sort-down{
    font-size:27px;
    color:#FFC900;
    margin-left:21%;
}

.noticias__content3--down .fa-sort-down{
    font-size:27px;
    color:#FFC900;
    margin-left:22%;
}




/*TAB ENLACES*/
.noticias_enlaces .enlaces{
    width:450px;
    margin:20px auto;
}

.enlace_button{
    margin:0 auto;
    text-align:center;
    padding:.5em;
}


.enlace_button .button{
    color:white;
    width:200px;
    height:40px;
}

.noticias_enlaces button:hover{
    color:white !important;
}



.form_content1{
    margin:0 auto;
}

.form_content1 .field{
    margin:15px auto;
    width:400px;
}

.form_content1 .field label{
    color:#3C4040;
}

.form_content1 .file-label{
    margin: 0 auto;
}

.button_content1{
    text-align:center;
    padding:.5em;
}

.button_content1 button{
    height: 45px;
    width: 200px;
    background: #FFC900 !important;
    font-family: "Roboto", sans-serif;
}




.header__panel--noticias{
    text-decoration:underline;
    width:455px;
    margin-top:50px;
    text-align:right;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
    color:#1c3643;
    font-weight:bold;
}


/*ESTILOS PANEL CATEGORIAS*/
.options_categoria{
    margin:30px auto;
    width:430px;
}

.options_categoria label{
    font-size:19px;
    font-weight:bold;
    color:#254051;
    margin-right:10px;
    font-family: 'Roboto', sans-serif;
}

.options_categoria select{
    width:160px;
}

.categoria_number{
    color:#254051;
    margin-right:.3em;
    padding:.3em .7em;
    border-radius:50%;
    border:2px solid #FFC900;
}


/*CONTENIDO DE VIDEOS*/
.content_video{
    padding:1em;
}

.content_video form{
    width:400px;
    margin:0 auto;
}

.content_video .field{
    width:100%;
}

.content_video .button{
    color:white;
    width:100%;
    height:45px;
}

.content_video .button:hover{
    color:white !important;
}





/*helpers*/
.hide{
    display:none;
}

.active_link{
    border-bottom:2px solid #273C48!important;
    color:#1c3643;
    font-weight:bold;
}

.button_principal{
    text-align:center;
}

.button_principal button{
    height:45px;
    width:200px;
    background:#FFC900 !important;
    font-family: 'Roboto', sans-serif;
}











